.flex-container{
    display:flex;
}
header{
    background-color:white;
    border-bottom:5px solid black;
    width:100%;
    position:fixed;
    top:0;
}
.navigation{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    margin-right:30px;
}
.image_area{
    display:flex;
    align-items:center;
    margin:0px 5px;
}
.navigation .n_item{
display:inline-block;
padding:10px;
margin:10px 10px;
}
.flex-container-head{
    width:100%;
    display:flex;
    align-items:flex-start;
    justify-content:space-between;
    align-items:center;
}
.flex-greater-tag-box{
    display:flex;
    align-items:flex-start;
    flex-direction:column;
    flex:1;
    flex-wrap:wrap;
}
.flex-container-tags{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
}
.tag{
    width:fit-content;
    padding:1%;
    border-radius:5px;
    color:lightgray;
    background-color:gray;
    margin:5px;
}
.project_section{
    text-wrap:wrap;
    overflow:auto;
}
.project_section img{
    float:left;
    margin-right:100px;
}
.button{
    border-radius:5px;
    background-color:aqua;
    color:white;
    padding:5px;
    width:fit-content;
}
.button:hover{
    transform:translateY(-10px);
    box-shadow:5px 5px 5px darkslategray;
    cursor:pointer;
}
.important_area{
    height:500px;
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
    padding:10px;
    background-image:linear-gradient(to right, blue, aqua);
    border-bottom:5px solid black;
}
.important_button{
border-radius:5px;
background-color:white;
padding:10px 5px;
}
.important_button:hover{
    transform:translateY(-10px);
    box-shadow:5px 5px 5px darkslategray;
    cursor:pointer;
}
.side-flex{
    display:flex;
    justify-content:flex-start;
    flex-direction:column;
width:800px;
}
a:link{
    color:white;
}
a:visited{
    color:white;
}